{% extends "news/layout.html" %}
{% load static %}

{% block title %}
  Main Page
{% endblock %}

{% block body %}
  <div class="news">
    {% for post in posts %}
      <h4><a href="{% url 'display_post' post.id %}">{{ post.title }}</a></h4>
      by <b>{{ post.author }}</b> on <b>{{ post.date }}</b>
      <br><br>
      {{ post.content_short }}
      {% if post.display_full_content %}
        <a href="{% url 'display_post' post.id %}">Show More</a>
      {% endif %}
      <br>
      {% if not forloop.last %}
        <hr>
      {% endif %}
    {% empty %}
      <h4>No posts yet.</h4>
    {% endfor %}
  </div>

  <br>

  <div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a> 	&nbsp;
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a> 	&nbsp;
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'products/cart.js' %}"></script>
{% endblock %}
